<div class="shop-item">
    <figure>
      <img src="<%= imageUrl %>" alt="<%= title %>">
      <figcaption>
        <h3 class="item-title"><%= title %></h3>
        <p class="item-description"><%= description %></p>
      </figcaption>
    </figure>
  </div>