<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Title</h1>
        <nav>
            <ul>
                <li><a href="/" id="homeLink"> Home</a></li>
                <li><a href="/shop"> Shop</a></li>
                <% if (user && user.id) { %>
                <li><a href="/myaccount"> My account </a></li>
                <% } else { %>
                <li><a href="/login"> Login</a></li>
                <% } %>
                <li><a href="/about"> About</a></li>
                
        </ul>
        </nav>
    </header>
    <article>
        
        <div id="shop-filter">
            filter
            <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat nibh, cursus eget enim eget, fermentum convallis quam. Suspendisse euismod arcu eget laoreet porta. Cras arcu risus, placerat in lacinia vel, luctus et odio. Suspendisse et aliquam ipsum. In risus odio, varius auctor ligula vitae, convallis vulputate tellus. Mauris tempus quam arcu, et finibus ipsum posuere vel. Mauris lorem mauris, vulputate eget magna et, eleifend imperdiet tellus. Curabitur sed congue justo, et tristique ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam finibus felis id volutpat tempus. Integer vel nisi sapien. Vivamus sed consectetur lacus. Praesent id massa at augue hendrerit rhoncus lobortis eget magna. Nullam ut lacus pulvinar, fringilla nibh ultrices, molestie augue.

                Nam volutpat in magna ac congue. Curabitur pretium hendrerit ex, vel facilisis libero tincidunt feugiat. Cras libero lorem, tristique at placerat at, pretium vel metus. Vivamus eleifend luctus condimentum. Sed egestas enim bibendum finibus consequat. Donec ut laoreet urna. Sed et convallis felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque fermentum imperdiet leo a finibus. Nullam fermentum justo at est volutpat efficitur quis ut lectus. Phasellus elit leo, vehicula a euismod et, tempor ac odio.
                
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec fermentum diam a mi dignissim, eget semper purus gravida. Cras pulvinar ipsum ut justo aliquet, et malesuada dolor pulvinar. Vestibulum pulvinar bibendum bibendum. Pellentesque ut varius tellus. Ut porttitor turpis eu mollis facilisis. Aenean mauris urna, mollis nec libero eget, fringilla tincidunt tellus. Curabitur vitae erat ante. Maecenas eget ultricies arcu, et molestie mauris.
                
                Donec vulputate nibh lacus, vel blandit arcu auctor aliquet. Sed dapibus iaculis ullamcorper. Integer ac est at libero sagittis ultricies. Ut ullamcorper enim eget nulla vehicula, non ultricies metus hendrerit. Nulla viverra nulla sed nulla semper, ac facilisis risus varius. Sed arcu magna, varius sed libero et, maximus venenatis nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc viverra maximus felis vitae commodo. Pellentesque rhoncus, magna et sagittis bibendum, dui arcu condimentum nisl, sed consequat massa sem id magna. Suspendisse orci turpis, consequat sit amet auctor sit amet, porttitor at quam. Aenean eu nunc vel eros tristique dictum quis nec arcu. Sed dignissim nunc sit amet mi vestibulum, eu pellentesque justo porta. Quisque malesuada mauris at tristique sollicitudin.
                
                Pellentesque sed ultricies mauris. Donec magna magna, lobortis sed luctus et, pharetra sodales est. Nulla facilisi. Cras vehicula hendrerit magna, vel posuere diam accumsan quis. Etiam in nisi et enim dictum laoreet eget in lorem. Praesent ornare nec arcu id vulputate. Nam pulvinar eleifend sollicitudin. Fusce in sollicitudin velit, in varius neque. Proin gravida convallis fringilla. Nunc hendrerit viverra tellus, eget lacinia mi egestas eget. Praesent tincidunt a urna at iaculis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat nibh, cursus eget enim eget, fermentum convallis quam. Suspendisse euismod arcu eget laoreet porta. Cras arcu risus, placerat in lacinia vel, luctus et odio. Suspendisse et aliquam ipsum. In risus odio, varius auctor ligula vitae, convallis vulputate tellus. Mauris tempus quam arcu, et finibus ipsum posuere vel. Mauris lorem mauris, vulputate eget magna et, eleifend imperdiet tellus. Curabitur sed congue justo, et tristique ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam finibus felis id volutpat tempus. Integer vel nisi sapien. Vivamus sed consectetur lacus. Praesent id massa at augue hendrerit rhoncus lobortis eget magna. Nullam ut lacus pulvinar, fringilla nibh ultrices, molestie augue.

                Nam volutpat in magna ac congue. Curabitur pretium hendrerit ex, vel facilisis libero tincidunt feugiat. Cras libero lorem, tristique at placerat at, pretium vel metus. Vivamus eleifend luctus condimentum. Sed egestas enim bibendum finibus consequat. Donec ut laoreet urna. Sed et convallis felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque fermentum imperdiet leo a finibus. Nullam fermentum justo at est volutpat efficitur quis ut lectus. Phasellus elit leo, vehicula a euismod et, tempor ac odio.
                
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec fermentum diam a mi dignissim, eget semper purus gravida. Cras pulvinar ipsum ut justo aliquet, et malesuada dolor pulvinar. Vestibulum pulvinar bibendum bibendum. Pellentesque ut varius tellus. Ut porttitor turpis eu mollis facilisis. Aenean mauris urna, mollis nec libero eget, fringilla tincidunt tellus. Curabitur vitae erat ante. Maecenas eget ultricies arcu, et molestie mauris.
                
                Donec vulputate nibh lacus, vel blandit arcu auctor aliquet. Sed dapibus iaculis ullamcorper. Integer ac est at libero sagittis ultricies. Ut ullamcorper enim eget nulla vehicula, non ultricies metus hendrerit. Nulla viverra nulla sed nulla semper, ac facilisis risus varius. Sed arcu magna, varius sed libero et, maximus venenatis nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc viverra maximus felis vitae commodo. Pellentesque rhoncus, magna et sagittis bibendum, dui arcu condimentum nisl, sed consequat massa sem id magna. Suspendisse orci turpis, consequat sit amet auctor sit amet, porttitor at quam. Aenean eu nunc vel eros tristique dictum quis nec arcu. Sed dignissim nunc sit amet mi vestibulum, eu pellentesque justo porta. Quisque malesuada mauris at tristique sollicitudin.
                
                Pellentesque sed ultricies mauris. Donec magna magna, lobortis sed luctus et, pharetra sodales est. Nulla facilisi. Cras vehicula hendrerit magna, vel posuere diam accumsan quis. Etiam in nisi et enim dictum laoreet eget in lorem. Praesent ornare nec arcu id vulputate. Nam pulvinar eleifend sollicitudin. Fusce in sollicitudin velit, in varius neque. Proin gravida convallis fringilla. Nunc hendrerit viverra tellus, eget lacinia mi egestas eget. Praesent tincidunt a urna at iaculis.</h1>
        </div>
        <div id="shop-content">
            <% if (shopItems.length) { %>
                <% for (let item of shopItems) { %>
                    <%- include("../shop-item.ejs",{ imageUrl: item.imageUrl, title: item.title, description: item.description }) %>
                <% } %>
                <% }else { %>
                    <h2>No products avaliable</h2>
                <% } %>
        </div>
    </article>
    <footer>
        footer
    </footer>
  
</body>
</html>