


html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #D7E9B9;
    font-family: 'Varela Round', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
article {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    overflow: auto;

    

}
#titleIndexPage {
    width: 300px;
    justify-content: center;
    left: 0px;
    background-color: red;
   
}
img {
    width: 550px;
    height: 400px;
}


header {
    display: flex;
    min-height: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 300px;
    
}
nav ul {
    list-style-type: none;
    
}
a {
    text-decoration: none;
    border-radius: 20px;
    font-size: large;
    color:black;
    transition: 0.5s all;
    
    
}
nav li {
    display: flex;
    width:75px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    
}
nav a {
    transition: 0.5s all;
}
nav a:hover {
    text-decoration:underline;
    
  
}
header ul {
    display: flex;
    gap: 40px;
    flex-direction: row;
}

article {
    flex: auto;
    border-style: dotted;
    border-left: none;
    border-right:none;
}

footer {
    height: 200px;
}

