:root {
    --main-background: #ececec;
    --secondbackground: #385170;
    --headlines-color: #142d4c;
    --border-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    --battleship-gray: #848c8eff;



--logo-color: #519872;
--footercolor: #D7D9D7;

}



html,body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background:var(--main-background);
    flex-direction: column;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
}

body {
    overflow: auto;
}

header {
    top: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 400px;
    width: 100%;
    flex-wrap: wrap;
    font-size: x-large;
   
}

header h1 {
    color: var(--logo-color);
}

header nav {
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
     
    border-radius: 10px;
    /*box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;*/
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-right:50px;
    width: auto;
    list-style-type: none;
}

a {
   text-decoration: none;
   text-align: center;
   color: var(--battleship-gray);
}

footer {
    background-color: #D7D9D7;
    width: 100%;
    min-height: 200px;
    height: 200px;
    margin-top: auto;
    
}

#login-register-article {
    display: flex;
    flex-direction: row;
    margin:auto;
    justify-content: center;
    align-items: center;
    column-gap: 200px;
}

#Register, #Login {
    /*background:var(--main-background); */
    color: var(--headlines-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:100px;
    border-radius: 5px;
    row-gap: 20px;
    box-shadow: var(--border-shadow);
}

input {
    width: auto;
    height: 24px;
    border-radius: 5px;
    border:none;
    box-shadow: var(--border-shadow);
}

button {
   width: 100px;
   height: 37.5px;
   background: white;
   border-radius: 5px;
}

img {
   
    height:60%;
    width: 60%;
    object-fit:contain;

   
}

article {
    position: relative;
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* Shop page */

#shop-filter {
    margin: auto;
    display: flex;
    align-items: baseline;
    justify-content: center;
    
    padding: 20px;
    width: 20%;
    height: 100%;
    
}

#shop-content {
    border-radius: 2px;
    margin:auto;
    width: 80%;
    height: 100%;
    padding: 10px;
    align-content: flex-start;
    display: flex;
    justify-content: center;
    
    gap: 0;
    flex-wrap:wrap;
    overflow: auto;
 

  

}
.shop-item {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    height:500px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.5s all;
   

}
.shop-item:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
#addToCartIcon:hover {
    cursor: pointer;
}

#shoppingcart {
    visibility: hidden;
    position: absolute;
    border-radius: 5px;
    min-height: 50%;
    width:30%;
    z-index: 1;
    top: 8%;
    right: 0;
    background: var(--footercolor);
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    
}
/* Shoppingcart button*/
#shoppingcart-checkout {
    margin: auto;
}
#cartIcon:hover {
    cursor:pointer;
}
