<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="shoppingcart">
        <h2>Shoppingcart</h2>
        <div id="shoppingcart-items">
            
        </div>
        <button id="shoppingcart-checkout">Checkout</button>
    
    </div>
    <header>
        <h1>Webshop demo</h1>
        <nav>
            <ul>
                <li><a href="/" id="homeLink"> Home</a></li>
                <li><a href="/shop"> Shop</a></li>
                <% if (user && user.id) { %>
                <li><a href="/myaccount"> My account </a></li>
                <% } else { %>
                <li><a href="/login"> Login</a></li>
                <% } %>
                <li><a href="/about"> About</a></li>
                <li id="cartIcon"><i class="fa-solid fa-cart-shopping"></i></li>
                
        </ul>
        </nav>
    </header>
    <article>
        
        <div id="shop-filter">
            <h1>filterollicitudin velit, ollicitudin velit, in vahendrerit vivstas eget. ollicitudin velit, in vahendrerit vivstas eget. ollicitudin velit, in vahendrerit vivstas eget. ollicitudin velit, in vahendrerit vivstas eget. ollicitudin velit, in vahendrerit vivstas eget. ollicitudin velit, in vahendrerit vivstas eget. ollicitudin velit, in vahendrerit vivstas eget. ollicitudin velit, in vahendrerit vivstas eget. ollicitudin velit, in vahendrerit vivstas eget. ollicitudin velit, in vahendrerit vivstas eget. ollicitudin velit, in vahendrerit vivstas eget. ollicitudin velit, in vahendrerit vivstas eget. in vahendrerit vivstas eget. Praesent tincidunt a urna at iaculis.</h1>
        </div>
        <div id="shop-content">
            <% if (shopItems.length) { %>
                <% for (let item of shopItems) { %>
                    <%- include("../partials/shop-item.ejs",{ image_url: item.image_url, name: item.name, description: item.description, price : item.price, current_stock : item.current_stock, id: item.id }) %>
                <% } %>
                <% }else { %>
                    <h2>No products avaliable</h2>
                <% } %>
                
        </div> 
    </article>
    <footer>
        footer
    </footer>
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/a50106f785.js" crossorigin="anonymous"></script>
    <script src="../../scripts/shopscripts.js"></script>
    <script src="../../scripts/generalscripts.js"></script>
</body>
</html>