:root {
    --main-background:   #212121; ;
    --secondbackground: #385170;
    --headlines-color: #142d4c;
    --border-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    --battleship-gray: #848c8eff;


    --header-color: #212121;
    --logo-color: #519872;
    --footercolor: #262525;

}


html,body {
    
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: var(--main-background);
    flex-direction: column;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
}

body {
    overflow: auto;
}

header {
    background: var(--header-color);
    top: 0;
    margin: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 400px;
    width: 100%;
    flex-wrap: wrap;
    font-size: x-large;
    transition: all 0.5s;
    z-index: 2;

}

header:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

header h1 {
    color: var(--logo-color);
}

header nav {
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;


    border-radius: 10px;
    /*box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;*/
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-right: 50px;
    width: auto;
    list-style-type: none;
}

a {
    text-decoration: none;
    text-align: center;
    color: var(--battleship-gray);
}

a:hover {
    color: var(--logo-color);
}

footer {
    background-color: var(--footercolor);
    width: 100%;
    min-height: 200px;
    height: 200px;
    margin-top: auto;

}

#login-register-article {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
    column-gap: 200px;
}

#Register,
#Login {
    /*background:var(--main-background); */
    color: var(--headlines-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    border-radius: 5px;
    row-gap: 20px;
    box-shadow: var(--border-shadow);
}

input {
    width: auto;
    height: 24px;
    border-radius: 5px;
    border: none;
    box-shadow: var(--border-shadow);
}



img {

    height: 30%;
    width: 40%;
    object-fit: scale-down;


}

article {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* Shop page */

#shop-filter {
    margin: auto;
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: white;
    padding: 20px;
    width: 20%;
    height: 100%;

}

#shop-content {
    border-radius: 2px;
    margin: auto;
    width: 80%;
    height: 100%;
    padding: 10px;
    align-content: flex-start;
    display: flex;
    justify-content: center;

    gap: 0;
    flex-wrap: wrap;
    overflow: auto;




}

.shop-product {
    box-sizing: border-box;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    width: 30%;
    height: 500px;
    background-color: #262525; 
    box-shadow: black 0px 2px 8px 0px;
    transition: 0.5s all;
    color: white;
    border-radius: 4px;
    padding:30px;
    


}

.shop-product:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

#addToCartIcon:hover {
    cursor: pointer;
}

#shoppingcart {
    visibility: hidden;
    position: absolute;
    border-radius: 5px;
    min-height: 50%;
    max-height: 50%;
    width: 30%;
    z-index: 1;
    top: 8%;
    right: 0;
    background: var(--main-background);
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 3;
}









#shoppingcart-items {
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: lighter;



}

.cart-item {
    border-bottom: 2px solid var(--battleship-gray);
    display: flex;
    flex-direction: row;

    width: 100%;
    margin: 2px;


}

.cart-item-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    font-weight: lighter;
}

/* Styles for the cart item image */
.cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
}


/* Shoppingcart button*/
#shoppingcart-checkout {
    margin: auto;
}

#cartIcon:hover {
    cursor: pointer;
}


/* Not my css! */

/* Button */

button {
    backface-visibility: hidden;
    background: var(--logo-color);
    border: 0;
    border-radius: .375rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;

    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: 1rem 1.25rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:disabled {
    color: #787878;
    cursor: auto;
}

button:not(:disabled):hover {
    transform: scale(1.05);
}

button:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}

button:focus {
    outline: 0 solid transparent;
}

button:focus:before {
    border-width: .125rem;
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}

button:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}

button:not(:disabled):active {
    transform: translateY(.125rem);
}















/* Checkbox slide */

.checkbox-wrapper-7 .tgl {
    display: none;
}

.checkbox-wrapper-7 .tgl,
.checkbox-wrapper-7 .tgl:after,
.checkbox-wrapper-7 .tgl:before,
.checkbox-wrapper-7 .tgl *,
.checkbox-wrapper-7 .tgl *:after,
.checkbox-wrapper-7 .tgl *:before,
.checkbox-wrapper-7 .tgl+.tgl-btn {
    box-sizing: border-box;
}

.checkbox-wrapper-7 .tgl::-moz-selection,
.checkbox-wrapper-7 .tgl:after::-moz-selection,
.checkbox-wrapper-7 .tgl:before::-moz-selection,
.checkbox-wrapper-7 .tgl *::-moz-selection,
.checkbox-wrapper-7 .tgl *:after::-moz-selection,
.checkbox-wrapper-7 .tgl *:before::-moz-selection,
.checkbox-wrapper-7 .tgl+.tgl-btn::-moz-selection,
.checkbox-wrapper-7 .tgl::selection,
.checkbox-wrapper-7 .tgl:after::selection,
.checkbox-wrapper-7 .tgl:before::selection,
.checkbox-wrapper-7 .tgl *::selection,
.checkbox-wrapper-7 .tgl *:after::selection,
.checkbox-wrapper-7 .tgl *:before::selection,
.checkbox-wrapper-7 .tgl+.tgl-btn::selection {
    background: none;
}

.checkbox-wrapper-7 .tgl+.tgl-btn {
    outline: 0;
    display: block;
    width: 2.5em;
    height: 1.25em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-wrapper-7 .tgl+.tgl-btn:after,
.checkbox-wrapper-7 .tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.checkbox-wrapper-7 .tgl+.tgl-btn:after {
    left: 0;
}

.checkbox-wrapper-7 .tgl+.tgl-btn:before {
    display: none;
}

.checkbox-wrapper-7 .tgl:checked+.tgl-btn:after {
    left: 50%;
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn {
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
    border: 1px solid #e8eae9;
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn:after {
    border-radius: 2em;
    background: #fbfbfb;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn:hover:after {
    will-change: padding;
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn:active {
    box-shadow: inset 0 0 0 2em #e8eae9;
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn:active:after {
    padding-right: 0.8em;
}

.checkbox-wrapper-7 .tgl-ios:checked+.tgl-btn {
    background: var(--logo-color);
}

.checkbox-wrapper-7 .tgl-ios:checked+.tgl-btn:active {
    box-shadow: none;
}

.checkbox-wrapper-7 .tgl-ios:checked+.tgl-btn:active:after {
    margin-left: -0.8em;
}